version: "3.7"

networks:
  {{ network }}:
    external: true
    
services:
  portainer:
    container_name: "{{ container_name }}"
    image: "{{ image }}"
    ports:
      - "9000:9000"
    networks:
      - {{ network }}
    restart: unless-stopped
    security_opt:
      - no-new-privileges:true
    volumes:
      - "{{ data_dir }}:/data"
      - /etc/localtime:/etc/localtime:ro
      - /var/run/docker.sock:/var/run/docker.sock:ro
      